html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

@media (min-width: 576px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

h1 {
  margin: 0.33rem 0;
  text-align: center;
  font-size: 1.5rem;
  color: RGBA(186, 136, 136, 0.5);
}

h3 {
  text-align: center;
  font-size: 1rem;
  color: RGBA(136, 186, 186, 0.6);
}

p, span {
  text-transform: none;
  font-size: 0.8rem;
}

.fluid-container {
  height: 100vh;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.my-row {
  min-height: 45vh;
}

.my-col {
  border: 1px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  min-height: 20vh;
}

.my-col .effect {
  text-decoration: none;
  position: relative;
  color: #000000;
}

.my-col .effect::before {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.my-col .effect:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.presentation .left-text {
  text-align: center;
}

.presentation .left-text p {
  font-size: 0.9rem;
}

.presentation .linkedinPict {
  margin: 0 auto;
  text-align: center;
}

.presentation .linkedinPict img {
  border-radius: 50%;
  max-width: 50%;
  height: auto;
}

.presentation .right-text {
  text-align: center;
}

.presentation .right-text h4 {
  color: RGBA(136, 186, 186, 0.6);
  text-decoration: underline;
  font-size: 1rem;
  margin: 0;
}

.presentation .right-text .name {
  margin-top: 2px;
}

.skillsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skillsDiv .skillset {
  width: 50%;
  margin: 0 auto;
}

.skillsDiv .skillset li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle-row {
  height: 10vh;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.templatePict {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.templatePict .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  overflow: hidden;
}

.templatePict .box .imgOfHead {
  padding: 2%;
  max-width: 75%;
  height: auto;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.templatePict .box:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 50%;
}

form .submit {
  max-width: 50%;
  margin: 5% auto;
}

[id^=modal] {
  display: none;
  position: fixed;
  width: 80vw;
  height: 80vh;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  border: 1px solid #000000;
  z-index: 1;
}

[id^=modal] .centerDiv {
  min-height: 80vh;
}

[id^=modal] .centerDiv .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#modal1:target {
  display: block;
}

#modal2:target {
  display: block;
}

#modal3:target {
  display: block;
}

#modal4:target {
  display: block;
}

#modal5:target {
  display: block;
}

#modal6:target {
  display: block;
}

#modal7:target {
  display: block;
}

#modal8:target {
  display: block;
}

[id^=modal] a {
  position: absolute;
  top: 2%;
  right: 2%;
  color: #000000;
}
/*# sourceMappingURL=styles.css.map */