html{
    box-sizing: border-box;
}
.fluid-container{
    height: 100vh;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.my-row{
    height: 45vh;
    width: 100vw;
}
.my-col{
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 0;
    .effect{
        text-decoration: none;
        position: relative;
        color: #000000;
    }
    .effect::before{
        content:'';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0; 
        left: 0;
        background-color: #000000;
        transform-origin: center center;
        transition: transform 0.25s ease-out;
    }
    .effect:hover::before{
        transform: scaleX(1);
    }
}
.middle-row{
    height: 10vh;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}
.popup{
    display: none;
    position: fixed;
    width: 80vw;
    height: 80vh;
    left: 12.5%;
    top: 12.5%;
    background-color: green;
    z-index: 2;
    .center{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%; 
            .close{
                position: absolute;
                top: 2%;
                right: 2%;
            } 
    }
}

