
html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

  @media (min-width: 768px) and (max-width: 1024px) {
    
    .presentation{
            display: flex;
            flex-direction: column;
    }
}

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    .presentation{
        display: flex;
        flex-direction: row;
    }
}
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    .presentation{
        display: flex;
        flex-direction: row;
    }
    
}
   
  @media (min-width: 320px) and (max-width: 480px) {
    
    .presentation{
            display: flex;
            flex-direction: column;
       }
       .linkedinPict{
        img{
            display: none;
            margin-bottom: 0.5rem;
        }
    }
     .left-text{
        min-width: 100%;
    }
}

@media (max-width: 320px) and (max-height: 570px){
    .presentation{
        display: flex;
        flex-direction: column;
   }

    .left-text{
        min-width: 100%;
    }
}

h1{
    margin: 0.33rem 0;
    text-align: center;
    font-size: 1.5rem;
    color: RGBA(186,136,136, 0.5);
    padding-top: 1rem;
}

h2{
    text-align: center;
    font-size: 1rem;
    color: RGBA(136,186,186, 0.6);
    padding: 0 1rem;
}

p, span{
    text-transform: none;
    font-size: 1rem;
}

.fluid-container{
    height: 100vh;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
  > [class^="col-"],
  > [class*=" col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

.my-row{
    min-height: 45vh;
}
.my-col{
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 20vh;
    .effect{
        text-decoration: none;
        position: relative;
        color: #000000;
    }
    .effect::before{
        content:'';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0; 
        left: 0;
        background-color: #000000;
        transform-origin: center center;
        transition: transform 0.25s ease-out;
    }
    .effect:hover::before{
        transform: scaleX(1);
    }
}

.horizontal{
    margin: 0.7rem;
}

.presentation{
    min-height: 50vh;
    display: flex;
    align-items: center;
    .left-text{
        text-align: center;
        width: 33%;
        padding: 1%;
        p{
            font-size: 0.9rem;
        }
    }
    .linkedinPict{
        margin: 0 auto;
        text-align: center;
        width: 33%;
        img{
            border-radius: 50%;
            max-width: 75%
        }
    }
    .right-text{
        text-align: center;
        flex-wrap: wrap;
        width: 33%;
        h2{
            color: RGBA(136,186,186, 0.6);
            text-decoration: underline;
            font-size: 1rem;
            margin: 0;
        }
        .name{
            margin-top: 2px;
        }
    }
}

.skillsDiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 60vh;
    .skillset{
        align-items: center;
        width: 75%;
        margin: 0 auto;
        li{
            list-style-type: none;
            display: flex;
            justify-content: space-between;
        }
    } 
}

.table{
    font-size: 0.8rem;
}

.middle-row{
    min-height: 10vh;
    max-width: 100vw;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    background-color: rgb(251,251,251);
}

.templatePict{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    .box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        overflow: hidden;
        .imgOfHead{
            padding: 2%;
            max-width: 75%;
            height: auto;
            transition: transform .5s ease;
        }
    }
    .box:hover img{
        transform: scale(1.2);
    }
}

form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width:  50%;
    label{
        margin: 2% 0;
    }
    .typeHere{
        box-sizing: border-box;
        padding: 2% 1%;
    }
    #subject{
        padding: 2% 1%;
    }
    .submit{
        max-width: 50%;
        margin: 5% auto;
        background-color: #FFFFFF;
        border-radius: 15px;
        border: 1px solid black;
    }
}

[id^=modal] {
    
    display: none;
    position: fixed;
    width: 80vw;
    min-height: 80vh;
    max-height: 90vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    border: 1px solid #000000;
    z-index: 1;
    overflow: auto;
    .centerDiv{
        min-height: 80vh;
        .center{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%; 
        } 
    }
}
  #modal1:target {
    display: block;
    }
  #modal2:target {
    display: block;
    }
 #modal3:target {
    display: block;
    }
#modal4:target {
    display: block;
    }
#modal5:target {
    display: block;
    }
#modal6:target {
    display: block;
    }
#modal7:target {
    display: block;
    }
#modal8:target {
    display: block;
    }

  [id^=modal] a {
    position: absolute;
    top: 2%;
    right: 2%;
    color: #000000;
    }

    $enable-responsive-font-sizes: true;

    $h1-font-size: 2rem;
    $h2-font-size: 1.75rem;

    $paragraph-margin-bottom: 0.5rem;

    @import "../node_modules/bootstrap/scss/bootstrap";